<%- include('./utils/header') %>
<!-- wrapper  -->

<div class="dashboard-wrapper">
	<div class="dashboard-ecommerce">
        <div class="row">
            <div class="container-fluid dashboard-content col">
			<h1>Welcome to the admin panel <%= response.first_name %> !</h1>
			
		</div>
        </div>
		
	</div>
</div>
