<%- include('../utils/header') %>

    <form class="splash-container" action="/rider/add"  method="POST" enctype="multipart/form-data">
        <div class="card ">
            <div class="card-header">
                <h3 class="mb-1">Add Rider</h3>
            </div>
            <% if(error){ %>
                <div class="error">
                    <p style="color: red;"><%= error %></p>
                </div>
            <% } %> 
            <div class="card-body">
                <div class="form-group" id="pick-image" style="display: block;" >
                    <h6>Choose an Image</h6>
                    <input class="form-control form-control-lg col-3 col-12" name="image" type="file" accept="image/*" id="image" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="username" placeholder="Username" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg"  type="text" name="first_name" placeholder="First name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="last_name" placeholder="Last name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="email"  name="email" placeholder="email" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="password" type="password" onkeyup="passwordCheck()"  name="password" placeholder="password" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" id="re_password" type="password" onkeyup="passwordCheck()"  name="re_password" placeholder="retype password" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="license_number" placeholder="License Number" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="number_plate" placeholder="Car Number" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="bank_account" placeholder="Bank Account Number" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="contact_number" placeholder="Contact Number" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="social_security_number" placeholder="Social Security Number" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text"  name="emergency_contact" placeholder="Emergency Contact" autocomplete="off" required>
                </div>
                <div class="form-group pt-2">
                    <button class="btn btn-block btn-primary" id="submit" type="submit" disabled>Add </button>
                </div>
        </div>
        
    </form>
    <script>
        let email = document.querySelector("#email")
        let password = document.querySelector("#password")
        let re_password = document.querySelector("#re_password")
        let submit = document.querySelector('#submit')
        function passwordCheck(){
            if(password.value == re_password.value && password.value!= ""){
                submit.disabled = false
            } else{
                submit.disabled = true
            }
        }
        
    </script>