<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <link href="/vendor/fonts/circular-std/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/libs/css/style.css" />
    <link
      rel="stylesheet"
      href="/vendor/fonts/fontawesome/css/fontawesome-all.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/fonts/themify-icons/themify-icons.css"
    />

    <!-- <link rel="stylesheet" href="/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css"> -->
    <!-- <link rel="stylesheet" href="/vendor/fonts/flag-icon-css/flag-icon.min.css"> -->
    <!-- <link rel="stylesheet" href="/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/vendor/select2/css/select2.css">
    <link rel="stylesheet" href="/vendor/summernote/css/summernote-bs4.css"> -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <title>SMARTBOX</title>
  </head>

  <body>
    <!-- main wrapper -->

    <div class="dashboard-main-wrapper">
      <!-- navbar -->

      <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
          <a class="navbar-brand" href="/admin/success">Admin </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="ti-user"></i>
            <i class="fas fa-chevron-down"></i>
          </button>
          <a class="navbar-item ml-auto mr-5" href="/api/login/logout"
            >Logout</a
          >
        </nav>
      </div>

      <!-- end navbar -->

      <!-- left sidebar -->

      <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none">Dashboard</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="true"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav flex-column">
                <li class="nav-divider">Menu</li>

                <li class="nav-item">
                  <a class="nav-link" href="/admin/all-admins"> All Admins </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/rider/all-riders"> All Riders </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/merchant/all-merchants">
                    All Merchants
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/client/all-clients">
                    All Clients
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/item/all-items"> All Items </a>
                </li>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/order/all-orders">
                  All Orders
                </a>
              </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <!-- end left sidebar -->
    </div>
  </body>
</html>
